<p-blockUI [blocked]="processing">
    <p-progressSpinner></p-progressSpinner>
</p-blockUI>
<p-card styleClass="animate__animated animate__fadeIn" header="Used {{minute}} minute">
    <p-table [paginator]="true" responsiveLayout="scroll" [rowHover]="true" [rows]="10" [value]="useds">
        <ng-template pTemplate="header">
            <tr>
                <th>Day of Week</th>
                <th class="text-right">From</th>
                <th class="text-right">To</th>
                <th class="text-right">Minute</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr class="animate__animated animate__fadeIn">
                <td>{{data.dayOfWeek}}</td>
                <td class="text-right">{{data.displayFrom}}</td>
                <td class="text-right">{{data.displayTo}}</td>
                <td class="text-right">{{data.totalMinutesString}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>