<p-blockUI [blocked]="processing">
    <p-progressSpinner></p-progressSpinner>
</p-blockUI>
<div class="animate__animated animate__fadeIn align-items-center flex h-full justify-content-center" *ngIf="!isSignedIn()">
    <p-card>
        <div class="text-center mb-5">
            <img src="https://image.twodo.app/icons/3158969.png" alt="Image" height="50" class="mb-3">
            <div class="text-900 text-3xl font-medium mb-3">Sytafe</div>
        </div>

        <form>
            <label class="block text-900 font-medium mb-2">Username</label>
            <input pInputText class="w-full mb-3" [(ngModel)]="user.username" [ngModelOptions]="ngModelOptions" type="text">

            <label class="block text-900 font-medium mb-2">Password</label>
            <input pInputText class="w-full mb-3" [(ngModel)]="user.password" [ngModelOptions]="ngModelOptions" type="password">

            <button pButton pRipple class="mt-3 w-full" (click)="signIn()" icon="pi pi-user" label="Sign In" routerLink="/home"></button>
        </form>
    </p-card>
</div>
<p-menubar class="animate__animated animate__fadeIn" [model]="items" *ngIf="isSignedIn()">
    <ng-template pTemplate="start">
        <img src="https://image.twodo.app/icons/3158969.png" height="40" class="mr-2">
    </ng-template>
    <ng-template pTemplate="end">
        <button pButton class="p-button-plain p-button-text" (click)="signOut()" icon="pi pi-power-off" label="Sign out"></button>
    </ng-template>
</p-menubar>
<router-outlet *ngIf="isSignedIn()"></router-outlet>